*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #4203a9, #90bafc);
    font-size: 15px;
    /* line-height: 1.5; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 520px;
    height: auto;
    margin: 100px auto;
    /* border: 2px solid red; */
    background-color: #eee;
    border-radius: 25px;

}
.base{
    width: 100%;
    margin: 0;
    overflow: hidden;
    display: block;
    float: none;
    /* border: 2px solid black; */
}

.block{
    width: 135px;
    padding: 2px 20px;
    margin-left: 20px;
    display: inline-block;
    float: left;
}

.base h4{
    font-size: 26px;
    text-align: center;
    font-family: sans-serif;
    font-weight: normal;
    margin-top: 0;
    box-shadow: 0px 2px #bababa;
    background: white;
    color: navy;
}
.title {
    font-size: 20px;
    text-align: left;
    text-decoration: solid;
    font-weight: normal;
    letter-spacing: 0.5;
    word-spacing: 2.7px;
}

.result{
    margin: 20px;
    padding: 20px;
    text-align: center;
    /* border: 2px solid red; */
    font-size: 26px;
    color: #1073d8;
}
input[type="text"] {
    width: 140px;
    text-align: left;
    margin: auto;
    outline: none;
    padding: 12px;
    min-height: 50px;
    border: 2px solid #1073d0;
    color: #1073d8; 
    font-size: 17px;
    background-color: #f7f7f7;
    border-radius: 2px;
}
input[type="text"] :focus { 
    background-color: #ffffff; 
    border : 2px solid orange; 
    outline : none; }

input[type="button"] {
    width: 150px;
    margin-left: 35%; 
    margin-top: 48px;
    outline: none;
    border: none;
    border-radius: 2px;
    background-color: #8761b6;
    color: #ffffff;
    padding: 14px 16px;
    text-align: center;
    font-size: 16px;
}
input[type="button"]:hover{
    background-color: #003669;
}




/* second javascript calculator */



.container1{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #4203a9, #90bafc);
    color: #fff;
    padding: 10px;
}

.calculator{
    width: 100%;
    max-width: 600px;
    /* border: 2px solid red; */
    margin-left: 30%;
    margin-top: 10%;
    justify-content: center;
}

.calculator h1{
    font-size: 60px;
}

.calculator h1 span{
    color: #ffff76;
}

.input-box{
    margin: 40px 0;
    padding: 35px;
    border-radius: 10px;
    background: rgba(255,255,255,0.3);
    display: flex;
    align-items: center;
}
.input-box input{
    flex: 1;
    margin-right: 20px;
    padding: 14px 20px;
    border: 0;
    outline: 0;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
}

.input-box button{
    background: #ffff76;
    border: 0;
    outline: 0;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: 500;
    color: #333;
    cursor: pointer;
}

.input-box input::-webkit-calendar-picker-indicator{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    position: absolute;
    background-position: calc(100% - 10px); 
    background-size: 30px;
    cursor: pointer;
}

#result{
    font-size: 35px;
    color: yellow;
}